<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>我的设置</title>
		<link rel="stylesheet" href="__PUBLIC__/Ag/css/mui.min.css">
		<link rel="stylesheet" href="__PUBLIC__/Ag/css/app.css" />
		<link rel="stylesheet" href="__PUBLIC__/Ag/css/settings.css" />
		
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a href="{:U('Index/index')}" class="mui-left mui-btn  mui-btn-link mui-btn-nav mui-pull-left"><span class="mui-icon mui-icon-left-nav"></span>首页</a>
		    <h1 class="mui-title">我的设置</h1>
		</header>
		<div class="mui-content">
				<div class="mui-scroll">
						<ul class="mui-table-view mui-table-view-chevron">
							<li class="mui-table-view-cell mui-media">
								<a class="mui-navigate-right" href="{:U('Settings/account')}">
									<img class="mui-media-object mui-pull-left head-img" id="head-img" <notempty name="agent['icon']">src="{$agent['icon']}"<else/>src="__PUBLIC__/Ag/images/qq.png"</notempty>>
									<div class="mui-media-body">
										账号:{$agent['user_name']}
										<p class='mui-ellipsis'>资金: <span class="mui-badge mui-badge-warning mui-badge-inverted">{$agent['balance']}</span></p>
									</div>
								</a>
							</li>
						</ul>
						<ul class="mui-table-view mui-table-view-chevron">
							<li class="mui-table-view-cell">
								<a href="{:U('Settings/draw')}" class="mui-navigate-right">资金提现</a>
							</li>
						</ul>
						<ul class="mui-table-view mui-table-view-chevron">
							<li class="mui-table-view-cell">
								<a href="{:U('Settings/report')}" class="mui-navigate-right">财务报表</a>
							</li>
							<li class="mui-table-view-cell">
								<a href="{:U('Settings/security')}" class="mui-navigate-right">安全中心</a>
							</li>
							<li class="mui-table-view-cell">
								<a href="{:U('Settings/generalize')}" class="mui-navigate-right">我的推广</a>
							</li>
						</ul> 
						<ul class="mui-table-view mui-table-view-chevron">
							<li class="mui-table-view-cell">
								<a href="{:U('Settings/about')}" class="mui-navigate-right">关于澳彩 <i class="mui-pull-right">V1.1.8</i></a>
							</li>
						</ul>
						<ul class="mui-table-view">
							<li class="mui-table-view-cell" style="text-align: center;background-color:#DD524D;color: #fff;">
								<a href="{:U('Login/logout')}" id="logout">退出登录</a>
							</li>
						</ul>
			</div>
		</div>				
	</body>
</html>
