<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>财务报表</title>
		<link rel="stylesheet" href="__PUBLIC__/Ag/css/mui.min.css">
		<link rel="stylesheet" href="__PUBLIC__/Ag/css/app.css" />
		<link rel="stylesheet" href="__PUBLIC__/Ag/css/settings.css" />	
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a href="{:U('Settings/index')}" class="mui-left mui-btn mui-btn-link mui-btn-nav mui-pull-left"><span class="mui-icon mui-icon-left-nav"></span>设置</a>
		    <h1 class="mui-title">财务报表</h1>
		</header>
		<div class="mui-content">
				<div class="mui-scroll">
					<ul class="mui-table-view mui-table-view-chevron">
						<li class="mui-table-view-cell">
							<a href="{:U('Settings/profitLog')}" class="mui-navigate-right">收益记录</a>
						</li>
					</ul>
					<ul class="mui-table-view mui-table-view-chevron">
						<li class="mui-table-view-cell">
							<a href="{:U('Settings/drawLog')}" class="mui-navigate-right">提现记录</a>
						</li>
					</ul>	
			</div>
		</div>				
	</body>
</html>
