<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="__PUBLIC__/Ag/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__PUBLIC__/Ag/css/app.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a href="{:U('Bet/historyBetForm')}" class="mui-icon mui-icon-back mui-pull-left"></a> 
		    <!--a id='inquire' class="mui-icon mui-icon-search mui-pull-right" style="font-size: 16px;margin-top: 5px;">查询</a-->
		    <h1 class="mui-title">下注明细</h1>
		</header>
		<div class="mui-content">
				<div class="mui-scroll">
				    <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed">
				    	<volist name="list" id="data">
				        <li class="mui-table-view-cell">
				            <div class="mui-table">
				                <div class="mui-table-cell mui-col-xs-10">
				                    <p>{$data['nickname']}<span class="mui-pull-right">{$data['user_name']}</span></p>
				                    <p>{$data['title']} <span class="mui-pull-right">区域:{$data['zone']}</span></p>
				                    <p>注额:{$data['balance']} <span class="mui-pull-right">输赢:{$data['win_balance']}</span></p>
				                    <p>抽佣:{$data['commission']} 
				                    <span class="mui-badge mui-badge-warning"><if condition="$data[finished]">已结算<else/>未结算</if></span>
				                    <span class="mui-pull-right">{$data['add_time']|date="Y-m-d H:i",###} </span></p>
				                </div>
				            </div>
				        </li>
				        </volist>
				    </ul>
					<if condition="$pageInfo['prev'] gt 0 or $pageInfo['next'] gt 0">
				   	<ul class="mui-table-view">
				       	<li class="mui-table" style="height: 30px;padding:10px 10px 10px 10px;">
				       		<if condition="$pageInfo['prev'] gt 0">
				       		<a class="mui-pull-left" href="{:U('Bet/historyBetSheet',['page'=>$pageInfo['prev']])}">上页</a> 
				       		</if>
				       		<if condition="$pageInfo['next'] gt 0">
				       		<a class="mui-pull-right" href="{:U('Bet/historyBetSheet',['page'=>$pageInfo['next']])}">下页</a>
				       		</if>		    
				       	</li>
				    </ul>
				    </if>	
			</div>
				
		</div>
		<script src="__PUBLIC__/Ag/js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>