<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<!--标准mui.css-->
		<link rel="stylesheet" href="__PUBLIC__/Ag/css/mui.min.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Ag/css/app.css" />
		<link href="__PUBLIC__/Ag/css/mui.picker.css" rel="stylesheet" />
		<link href="__PUBLIC__/Ag/css/mui.poppicker.css" rel="stylesheet" />
		<link rel="stylesheet" href="__PUBLIC__/Ag/css/app.css" />
		<!--<link rel="stylesheet" type="text/css" href="../css/mui.picker.min.css" />-->
		<style>
			.mui-popover {
				height: 480px;
			}
			h4.mui-ellipsis{
				color: #FF5722;
				font-size: 14px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a href="{:U('Index/index')}" class="mui-icon mui-icon-home mui-pull-left"></a> 
		    <a id='showGamePicker' class="mui-icon mui-icon-search mui-pull-right"></a>
		    <h1 class="mui-title">实时下注</h1>
		</header>
		<div class="mui-content">
				<div class="mui-scroll">
				    <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed">
				    	<volist name="list" id="data">
				        <li class="mui-table-view-cell">
				            <div class="mui-table">
				                <div class="mui-table-cell mui-col-xs-10">
				                    <h4 class="mui-ellipsis">{$data['lottery_name']}-{$data['issue']}期  {$data['site_name']}-{$data['game_name']}</h4>
				                    <h5>玩家：{$data['user_name']} ({$data['nickname']})</h5>
				                    <p class="mui-h6 mui-ellipsis">区域: {$data['zone']}  注数: {$data['bet_count']}  金额: {$data['balance']}</p>
				                </div>
				                <div class="mui-table-cell mui-col-xs-2 mui-text-right">
				                    <span class="mui-h5">2017/08/15 12:25</span>
				                </div>
				            </div>
				        </li>
				        </volist>
				        <li class="mui-table-view-cell">
				            <div class="mui-table">
				                <div class="mui-table-cell mui-col-xs-10">
				                    <p class="mui-h6 mui-ellipsis">
				                    	<!-- <span class="mui-badge mui-badge-purple mui-pull-left">一区</span><span class="mui-badge mui-badge-warning  mui-badge-inverted mui-pull-right">1500.00</span>
				                    	<br>
				                    	<span class="mui-badge mui-badge-purple mui-pull-left">二区</span><span class="mui-badge mui-badge-warning  mui-badge-inverted mui-pull-right">2332.00</span>
				                    	<br>
				                    	<span class="mui-badge mui-badge-purple mui-pull-left">三区</span><span class="mui-badge mui-badge-warning  mui-badge-inverted mui-pull-right">3332.00</span>
				                    	<br>
				                    	<span class="mui-badge mui-badge-purple mui-pull-left">四区</span><span class="mui-badge mui-badge-warning  mui-badge-inverted mui-pull-right">11332.00</span>
				                    	<br>
				                    	<span class="mui-badge mui-badge-purple mui-pull-left">五区</span><span class="mui-badge mui-badge-warning  mui-badge-inverted mui-pull-right">22332.00</span>
				                    	<br> -->
				                    	<span class="mui-badge mui-badge-purple mui-pull-left">总额</span><span class="mui-badge mui-badge-royal  mui-badge-inverted mui-pull-right">{$total}</span>
				                    </p>
				                </div>
				            </div>
				        </li>
				    </ul>
					<!--ul class="mui-table-view">
				       	<li class="mui-table" style="height: 30px;padding:10px 10px 10px 10px;">
				       		<a class="mui-pull-left" href="pp_live.html?page=1">上页</a> 
				       		<a class="mui-pull-right" href="pp_live.html?page=2">下页</a> 		    
				       	</li>
				    </ul-->	
			</div>
		
		</div>
		<script src="__PUBLIC__/Ag/js/mui.min.js"></script>
		<!--<script src="../js/mui.picker.min.js"></script>-->
		<script src="__PUBLIC__/Ag/js/mui.picker.js"></script>
		<script src="__PUBLIC__/Ag/js/mui.poppicker.js"></script>
		<script>
			var gData=[{
				value:'00',
				text:'注单',
				children:[{
					value:'00',
					text:'所有'
				}] 
			},{
				value:'10',
				text:'北京赛车',
				children:[{
					value:'1',
					text:'牌九'
				},{
					value:'2',
					text:'牛牛'
				},{
					value:'3',
					text:'三公'
				}]
			},{
				value:'20',
				text:'重庆时时彩',
				children:[{
					value:'5',
					text:'单张'
				}]
			},{
				value:'30',
				text:'幸运飞艇',
				children:[{
					value:'7',
					text:'牌九'
				},{
					value:'8',
					text:'牛牛'
				},{
					value:'9',
					text:'三公'
				}]
			}];
			(function($, doc) {
				$.init();
				$.ready(function() {
					//级联示例
					var cityPicker = new $.PopPicker({
						layer: 2
					});
					cityPicker.setData(gData);

					// 选中
					var game_id = {$game_id};
					var i=0,j=0;
					switch (game_id) {
						case 0: i=0;j=0;break;
						case 1: i=1;j=0;break;
						case 2: i=1;j=1;break;
						case 3: i=1;j=2;break;
						case 5: i=2;j=0;break;
						case 7: i=3;j=0;break;
						case 8: i=3;j=1;break;
						case 9: i=3;j=2;break;
						default : i=0;j=0;break;
					}
					cityPicker.pickers[0].setSelectedIndex(i);
					cityPicker.pickers[1].setSelectedIndex(j);

					var showCityPickerButton = doc.getElementById('showGamePicker');
					//var cityResult = doc.getElementById('cityResult');
					showCityPickerButton.addEventListener('tap', function(event) {
						cityPicker.show(function(items) {
							location.href = "{:U('Bet/nowBetDetail')}?game_id="+items[1].value;
							// mui.post('test.php',{
							// 	select1:items[0].value,
							// 	select2:items[1].value
							// },function(data){
							// 	//服务器返回响应
							// 	mui.openWindow({
							// 		url: data.url,
							// 		id: 'home_new',
							// 		show: {
							// 			aniShow: 'pop-in'
							// 		}
							// 	});
							// },'json');
							//cityResult.innerText = "你选择的城市是:" + items[0].text + " " + items[1].text;
							//返回 false 可以阻止选择框的关闭
							//return false;
						});
					}, false);

				});
			})(mui, document);
		</script>
	</body>

</html>