<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>直属代理</title>
		<link rel="stylesheet" href="__PUBLIC__/Agent/css/mui.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Agent/css/appfont.css" />
		<link rel="stylesheet" href="__PUBLIC__/Agent/css/apps.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a href="{:U('Agent/agentList')}" class="mui-left mui-btn-nav mui-pull-left"><span class="mui-icon app-icon icon-left-nav"></span> 代理</a>
			<a href="{:U('Agent/earnings',['user_id'=>$adminInfo['user_id']])}" class="mui-btn-nav mui-pull-right"><span class="mui-icon app-icon icon-money"></span> 收益</a>
			<h1 class="mui-title">直属代理</h1>
		</header>

	<div class="mui-content">
		<div class="mui-scroll" style="padding: 5px 5px 5px 5px;">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">代理账号<span class="mui-pull-right">{$adminInfo['user_name']}</span></li>
				<li class="mui-table-view-cell">代理别名<span class="mui-pull-right">{$adminInfo['nickname']}</span></li>
				<li class="mui-table-view-cell">已提取款<span class="mui-pull-right">{$adminInfo['apply_cash']}</span></li>
				<li class="mui-table-view-cell">回佣比例<span class="mui-pull-right">{$adminInfo['rate']}%</span></li>
				<li class="mui-table-view-cell">账户余额<span class="mui-pull-right">{$adminInfo['balance']}</span></li>
				<li class="mui-table-view-cell">直属会员<span class="mui-pull-right">{$adminInfo['user_count']}人</span></li>
				<li class="mui-table-view-cell">注册日期<span class="mui-pull-right">{$adminInfo['add_time']|date="Y-m-d",###}</span></li>
				<li class="mui-table-view-cell">账户状态
					<if condition="$adminInfo['status'] eq 1">
					<span class="mui-badge mui-badge-success mui-badge-inverted">正常</span>
					<else/>
					<span class="mui-badge mui-badge-warning mui-badge-inverted">冻结</span>
					</if>
				</li>
			</ul>
			<h5 style="height: 20px;">修改代理资料</h5>
			<form class="mui-input-group" style="padding-top: 10px;">
				<div class="mui-input-row">
					<label>代理别名</label>
					<input type="text" class="mui-input-text" id="nickname" placeholder="例：张三、李四" value="{$adminInfo['nickname']}">
				</div>
				<div class="mui-input-row">
					<label>开号名额</label>
					<input type="number" class="mui-input-numbox" id="agent_count" placeholder="可开下属代理名额" value="{$adminInfo['agent_count']}">
				</div>
				<div class="mui-input-row">
					<label>新密码</label>
					<input type="password" class="mui-input-password" id="password" placeholder="修改登录密码">
				</div>
				<div class="mui-input-row">
					<label>确认密码</label>
					<input type="password" class="mui-input-password" id="re_password" placeholder="重复输入密码">
				</div>
				<div class="mui-button-row">
					<input type="hidden" name="user_id" id="user_id" value="{$adminInfo['user_id']}">
					<button type="button" class="mui-btn mui-btn-red" id="chang_password"><span class="mui-icon app-icon icon-edit"></span> 确认修改</button>&nbsp;&nbsp;
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript" src="__PUBLIC__/Agent/js/mui.min.js" ></script>
	<script type="text/javascript">
			mui.init();
			var password=document.getElementById('password');
			var nickname=document.getElementById('nickname');
			var re_password=document.getElementById('re_password');
			var user_id=document.getElementById('user_id');
			var agent_count=document.getElementById('agent_count');
			
			//点击修改密码事件
			document.getElementById("chang_password").addEventListener('tap', function() {
				// mui.toast("你点击了确认修改");
				if(!password.value || password.value.trim()!=''){
					if(password.value.length<6 && password.value!=''){
						mui.alert('请输入6至16位英文或数字作为密码');
					}else if(password.value!=re_password.value){
						mui.alert('两个密码不一致');
					}else{
						mui.ajax("{:U('Agent/editAgent')}",{
						data:{
							password:password.value,
							re_password:re_password.value,
							user_id:user_id.value,
							agent_count:agent_count.value,
							nickname:nickname.value,
						},
						dataType:'json',//服务器返回json格式数据
						type:'post',//HTTP请求类型
						timeout:3000,//超时时间设置为10秒；
						success:function(data){
							if(data.code==1){
								mui.alert(data.msg);
							// 	mui.openWindow({
							// 	url: data.url,
							// 	id: 'agent',
							// 	show: {
							// 		aniShow: 'pop-in'
							// 	}
							// });
							}else{
								mui.alert(data.msg);
							}
						}
					});
					}
				}else{
					mui.alert('请输入新的登录密码');
				}
			});
		</script>
	<!--备注:提交后返回列表-->
	</body>

</html>