<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>直属代理</title>
		<link rel="stylesheet" href="__PUBLIC__/Agent/css/mui.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Agent/css/appfont.css" />
		<link rel="stylesheet" href="__PUBLIC__/Agent/css/apps.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a href="{:U('Index/index')}" class="mui-left mui-btn-nav mui-pull-left"><span class="mui-icon app-icon icon-left-nav"></span> 首页</a>
			<if condition="$canadd"><a href="{:U('Agent/addAgent')}" class="mui-btn-nav mui-pull-right"><span class="mui-icon app-icon icon-add"></span> 添加</a></if>
			<h1 class="mui-title">直属代理</h1>
		</header>
	<div class="main">
		<div class="bar-search">
			<div class="mui-pull-right">
				<input type="text" id="user_name" placeholder="账号或呢称" style="width: 120px;"> <button type="button" class="mui-btn app-icon icon-sousuo" id="search-btn">搜索</button>
			</div>
		</div>
		<div class="mui-content">			
			<div class="mui-scroll" style="padding: 5px 5px 5px 5px;">
				<ul class="mui-table-view">
				<notempty name="list">
					<volist name="list" id="data">
					<li class="mui-table-view-cell">
				        <a class="mui-navigate-right" href="{:U('Agent/agentInfo',['user_id'=>$data['user_id']])}">
				            <p><i class="app-icon icon-username"></i> {$data['nickname']} ({$data['user_name']})</p>           
				            <p><i class="app-icon icon-money"></i>{$data['balance']} <i class="app-icon icon-yongjin"></i>{$data['rate']}%  已提款<i class="app-icon icon-money"></i>{$data['apply_cash']} </p>
				        </a>	                
				   	</li>
				   	</volist>	
				<else/>	  
				   	<!--当没有直属代理显示-->
		            <li class="mui-table-view-divider">
		                点击右上角  <span id="menu" class="mui-action-menu mui-icon mui-icon-plus"></span> 新增
		            </li> 		
		        </notempty>		   	
				</ul>
				
				<ul class="mui-pager mui-pagination-sm">
					<li class=<if condition="$pageInfo['prev'] gt 0">"mui-previous"<else/>"mui-previous mui-disabled"</if>>
						<a <if condition="$pageInfo['prev'] gt 0">href="{:U('Agent/agentList',['page'=>$pageInfo['prev']])}"</if>><span class="app-icon icon-left"></span> 上页</a>
					</li>
					<li class=<if condition="$pageInfo['next'] gt 0">"mui-next"<else/>"mui-next mui-disabled"</if>>
						<a <if condition="$pageInfo['next'] gt 0">href="{:U('Agent/agentList',['page'=>$pageInfo['next']])}"</if>>下页 <span class="app-icon icon-right"></span></a>
					</li>
				</ul>
				<!--加一个div防止最后一条显示不完整-->
				<div style="height: 40px;"></div>
		</div>
	</div> 
	
	</div>	
	
	<script type="text/javascript" src="__PUBLIC__/Agent/js/mui.min.js" ></script>
	<script type="text/javascript">
		var btn = document.getElementById("search-btn");
		btn.addEventListener("tap",function (e) {
			var user_name = document.getElementById("user_name").value;
			location.href = "{:U('Agent/agentList')}?user_name="+user_name;
		});
		
	</script>
	</body>

</html>