<div class="doc-head">
				<div class="doc-head-info">
					<ul class="doc-head-list">
						<li class="doc-head-user">欢迎您：<span><a href="{:U('User/password')}">{$admin_name}</a></span></li>
						<li><a href="{:U('User/bank')}">银行卡</a></li>
						<li><a href="{:U('User/message')}">站内信息</a></li>
						<li><a href="{:U('User/log')}">登录日志</a></li>
						<li><a href="{:U('Login/logout')}">退出</a></li>
					</ul>
					<div class="doc-head-date">
						<p>{$year}</p>
						<span>{$monthday}</span>
					</div>
				</div>
			</div>