<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="__PUBLIC__/Mm/css/uikit.min.css" />
	<link rel="stylesheet" href="__PUBLIC__/Mm/css/normalize.css" />
	<link rel="stylesheet" href="__PUBLIC__/Mm/css/components/tooltip.min.css">
	<link rel="stylesheet" href="__PUBLIC__/Mm/css/components/datepicker.min.css">
	<link rel="stylesheet" href="__PUBLIC__/Mm/css/main.css">
</head>
<body>

	<div class="doc-container">
		<include file="Public:left"/>
		<div class="doc-body">
			<include file="Public:top"/>
			<div class="doc-nav-info">众彩内部管理后台&nbsp;&nbsp;>&nbsp;&nbsp;<a href="{:U('Log/log')}">登陆日志</a></div>
			<div class="doc-body-info">
				<div class="doc-head-history">
					<h3 style="font-size:1.6em;line-height:3">登陆日志</h3>
					<a class="uk-button doc-head-back" href="javascript:window.history.back()">返回</a>
				</div>
				<table class="uk-table doc-table-agent">
				    <thead>
				        <tr>
				            <th>序号</th>
				            <th>操作时间</th>
				            <th>登陆IP</th>
				        </tr>
				    </thead>
				    <tbody>
				    	<volist name="list" id="data" key="key">
				        <tr>
				            <td>{$key}</td>
				            <td>{$data['add_time']}</td>
				            <td>{$data['ip']}</td>
				        </tr>
				        </volist>
				    </tbody>
				</table>
				{$page_show}
				<!-- 动态分页 -->
				<!-- <ul class="uk-pagination" data-uk-pagination="{items:20, itemsOnPage:4}"></ul> -->
			</div>
		</div>
	</div>

	<!-- 引入jquery-2.1.4 -->
	<script src="__PUBLIC__/Mm/js/jquery.min.js"></script>
	<!-- 引入uikit.js -->
	<script src="__PUBLIC__/Mm/js/uikit.min.js"></script>
	<!-- 引入动态分页组件 -->
	<script src="__PUBLIC__/Mm/js/components/pagination.min.js"></script>
	<!-- 引入提示组件 -->
	<script src="__PUBLIC__/Mm/js/components/tooltip.min.js"></script>
	<!-- 引入日期组件 -->
	<script src="__PUBLIC__/Mm/js/components/datepicker.min.js"></script>
	
</body>
</html>