<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="__PUBLIC__/Mm/css/uikit.min.css" />
	<link rel="stylesheet" href="__PUBLIC__/Mm/css/normalize.css" />
	<link rel="stylesheet" href="__PUBLIC__/Mm/css/components/tooltip.min.css">
	<link rel="stylesheet" href="__PUBLIC__/Mm/css/main.css">
</head>
<body>

	<div class="doc-container">
		<include file="Public:left"/>
		<div class="doc-body">
			<include file="Public:top"/>
			<div class="doc-nav-info">众彩内部管理后台&nbsp;&nbsp;>&nbsp;&nbsp;<a href="{:U('Lottery/index')}">历史开奖</a></div>
			<div class="doc-body-info doc-body-history">
				<div class="doc-head-history">
					<div class="uk-button-group">
						<a class="uk-button <if condition='$lottery_id eq 1'>uk-button-primary</if>" href="{:U('Lottery/index',array('lottery_id'=>1))}">北京赛车</a>
					    <a class="uk-button <if condition='$lottery_id eq 2'>uk-button-primary</if>" href="{:U('Lottery/index',array('lottery_id'=>2))}">重庆时时彩</a>
					    <a class="uk-button <if condition='$lottery_id eq 3'>uk-button-primary</if>" href="{:U('Lottery/index',array('lottery_id'=>3))}">幸运飞艇</a>
					</div>
					<div class="open-lottery">
					<a data-uk-modal href="#lottery" id="add-btn" class="uk-button uk-button-primary"><i class="uk-icon-plus"></i> 人工开奖</a>
					</div>
				</div>
				<table class="uk-table doc-table-agent">
				    <thead>
				        <tr>
				            <th>期数</th>
				            <th>开奖时间</th>
				            <th>开奖结果</th>
				            <th>结果类型</th>
				        </tr>
				    </thead>
				    <tbody>
				    	<volist name="issueList" id="data" key="key">
				        <tr>
				            <td>{$data['issue']}</td>
				            <td>{$data['date_time']}</td>
				            <td>{$data['lottery_number']}</td>
				            <td>
				            	<if condition="$data['action_name'] eq ''">官方<else/>人工：{$data['action_name']}</if>
				            </td>
				        </tr>
				        </volist>
				    </tbody>
				</table>
				{$page_show}
				<!-- 动态分页 -->
				<!-- <ul class="uk-pagination" data-uk-pagination="{items:20, itemsOnPage:4}"></ul> -->
			</div>
		</div>
	</div>

	<!-- 人工开奖 -->
    <div id="lottery" class="uk-modal">
        <div class="lottery">
        	<div class="lottery-choose">
        	  <a class="uk-button uk-button-primary" data-id="1" href="#">北京赛车</a>
			  <a class="uk-button" data-id="2" href="#">重庆时时彩</a>
			  <a class="uk-button" data-id="3" href="#">幸运飞艇</a>
        	</div>
            <form class="uk-form" id="open-form" action="{:U('Lottery/openLottery')}" method="post">
                <div class="uk-form-row lottery-prompt">
                    <input type="text" name="lottery_number" id="lottery_number" placeholder="请输入开奖结果"><br>
                    <input type="text" name="issue" id="issue" placeholder="请输入期数">
                    <input type="hidden" name="lottery_id" id="lottery_id" value="1">
                </div>
            </form>
            <div class="confirm-button">
                <span id="cancel-btn">取消</span>
                <a data-uk-modal href="#"><span class="lottery-2" id="submit-btn">确定</span></a>
            </div>
        </div>
    </div>

	<!-- 引入jquery-2.1.4 -->
	<script src="__PUBLIC__/Mm/js/jquery.min.js"></script>
	<!-- 引入uikit.js -->
	<script src="__PUBLIC__/Mm/js/uikit.min.js"></script>
	<!-- 引入动态分页组件 -->
	<script src="__PUBLIC__/Mm/js/components/pagination.min.js"></script>
	<!-- 引入提示组件 -->
	<script src="__PUBLIC__/Mm/js/components/tooltip.min.js"></script>
	<script type="text/javascript">
		$('#add-btn').click(function(){
			$('#lottery').show();
		});
		$('.lottery-choose .uk-button').click(function(){
			$('.lottery-choose .uk-button').removeClass('uk-button-primary');
			$(this).addClass('uk-button-primary');
			var lottery_id = $(this).attr('data-id');
			$('#lottery_id').val(lottery_id);
		});
		$('#cancel-btn').click(function(){
			$('#lottery').hide();
		});
		$('#submit-btn').click(function(){
			var lottery_number = $('#lottery_number').val();
			var issue = $('#issue').val();
			if (!lottery_number) {
				$('#lottery_number').focus();
				return;
			}
			if (!issue) {
				$('#issue').focus();
				return;
			}
			var lottery_id = $('.lottery-choose').find('.uk-button-primary').attr('data-id');
			$('#lottery_id').val(lottery_id);
			$('#open-form').submit();
		});
	</script>
</body>
</html>