<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>广彩代理平台</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="__PUBLIC__/Ag/css/mui.min.css" rel="stylesheet" />
		<style>
			body{
				background-image: url(__PUBLIC__/Ag/images/logo_bg.jpg) ;
			}
			.logo{
				height: 160px;
			}
			.login{
				height: 200px;
			}
			.mui-input-group{
				margin: 0 auto;
				width: 90%;
				opacity: 0.75;
			}
			.mui-input-group:before{
				height: 0px;
			}
			.mui-input-group:after{
				height: 0px;
			}
			.mui-input-group .mui-input-row{
				height: 50px;
			}
			.mui-input-group input{
				height: 50px;
			}
		</style>
	</head>

	<body>
		<div class="logo"> 
			<div style="width: 140px;height: 140px;margin: 0 auto;margin-top: 30px;"><img src="__PUBLIC__/Ag/images/logo2.png" height="140" width="140" /></div>	
		</div>
		<div class="login">
			<form class="mui-input-group">
				<div class="mui-input-row">
					<input type="text" id="user_name" class="mui-input-clear" placeholder="登录账号">
				</div>
				<div class="mui-input-row">
					<input type="password" id="password" class="mui-input-password" placeholder="登录密码">
				</div>
				<div class="mui-input-row">
					<input type="text" id="verify_code" style="width: 90px;float: left;" placeholder="验证码">
					<span class="mui-pull-right" style="width: 100px;padding: 10px;"><img src="{:U('Login/verifyCode')}" id="code-img" onclick="changeCode()" width="90" height="30"></span>
				</div>
				<div class="mui-content-padded" style="height: 40px;">
					<button type="button" id="loginBtn" class="mui-btn mui-btn-danger mui-pull-right" style="width: 100px;">登录</button>
				</div>
			</form>
		</div>
		<div style="margin: 0 auto;width: 90%;"><span class="mui-pull-right" style="font-size: 12px;color: #C7C7CC;">广彩代理平台 ver1.02</span></div>
		<script src="__PUBLIC__/Ag/js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init();
			var login_btn = document.getElementById('loginBtn');
			login_btn.addEventListener('tap',function(){
				var user_name=document.getElementById('user_name').value;
				var password=document.getElementById('password').value;
				var verify_code=document.getElementById('verify_code').value;
				if(!user_name || user_name.trim()==""){
					mui.alert('请输入登录账号');
				}else if(!password || password.trim()==""){
					mui.alert('请输入登录密码');
				}else if(!verify_code || verify_code.trim()==""){
					mui.alert('请输入验证码');
				}else{
				 	mui.ajax("{:U('Login/login')}",{
				 		data:{
				 			user_name:user_name,
				 			password:password,
				 			verify_code:verify_code
				 		},
				 		dataType:'json',
				 		type:'post',
				 		timeout:10000, 
				 		success:function(data){
				 			if (data.code == 1) {
				 				mui.openWindow({
									url: data.url,
									id: 'home_new',
									show: {
										aniShow: 'pop-in'
									}
								});
				 			} else {
					 			mui.alert(data.msg);
					 			changeCode();
					 		}
				 		}
				 	});
				}
			 	
			});
			function changeCode() {
				document.getElementById('code-img').src='{:U('Login/verifyCode')}?rnd='+Math.random()
			}
		</script>
	</body>

</html>