<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>安全中心</title>
		<link rel="stylesheet" href="__PUBLIC__/Agent/css/mui.min.css">
		<link rel="stylesheet" href="__PUBLIC__/Agent/css/appfont.css" />
		<link rel="stylesheet" href="__PUBLIC__/Agent/css/apps.css" />

	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a href="{:U('settings/index')}" class="mui-left mui-btn-nav mui-pull-left"><span class="mui-icon app-icon icon-left-nav"></span> 返回</a>
			<h1 class="mui-title">安全中心</h1>
		</header>
		<div class="main">
			<div class="mui-content">
				<form class="mui-input-group" id="change_login">
					<div class="mui-input-row">
						<label>旧登录密码</label>
						<input type="text" name="old_password" id="old_password" class="mui-input-password" placeholder="当前登陆密码">
					</div>
					<div class="mui-input-row">
						<label>新登录密码</label>
						<input type="password" name="password" id="password" class="mui-input-password" placeholder="6至16位英文或数字">
					</div>
					<div class="mui-input-row">
						<label>确认密码</label>
						<input type="password" name="re_password" id="re_password" class="mui-input-password" placeholder="6至16位英文或数字">
					</div>
					<div class="mui-button-row">
						<a class="mui-btn mui-btn-red" id="submit_login">确认修改</a>&nbsp;&nbsp;
						<a href="{:U('settings/index')}" class="mui-btn mui-btn-danger">取消</a>
					</div>
				</form>
				<form class="mui-input-group" id="change_zj" style="margin-top: 10px;">
					<div class="mui-input-row">
						<label>旧资金密码</label>
						<input type="text" name="old_pay_password" id="old_pay_password" class="mui-input-password" placeholder="第一次设置无需输入">
					</div>
					<div class="mui-input-row">
						<label>新资金密码</label>
						<input type="password" name="pay_password" id="pay_password" class="mui-input-password" placeholder="6至16位英文或数字">
					</div>
					<div class="mui-input-row">
						<label>确认密码</label>
						<input type="password" name="re_pay_password" id="re_pay_password" class="mui-input-password" placeholder="6至16位英文或数字">
					</div>
					<div class="mui-button-row">
						<a class="mui-btn mui-btn-red" id="submit">确认修改</a>&nbsp;&nbsp;
						<a href="{:U('settings/index')}" class="mui-btn mui-btn-danger">取消</a>
					</div>
				</form>
			</div>

		</div>

		<script src="__PUBLIC__/Agent/js/mui.min.js "></script>
		<script>
			mui.init();
			//确认修改银行卡
			document.getElementById('submit_login').addEventListener('tap',function(){
				var old_password = document.getElementById('old_password').value;
				var password = document.getElementById('password').value;
				var re_password = document.getElementById('re_password').value;
				if (old_password.trim() == '') {
					mui.alert("原登录密码不能为空");
					return false;
				}
				if (password.trim() == '') {
					mui.alert("新登录密码不能为空");
					return false;
				}
				if (re_password.trim() == '') {
					mui.alert("确认密码不能为空");
					return false;
				}
				mui.ajax("{:U('Settings/security')}",{
			 		data:{
			 			old_password:old_password,
			 			password:password,
			 			re_password:re_password,
			 			type:'editPassword'
			 		},
			 		dataType:'json',
			 		type:'post',
			 		timeout:10000, 
			 		success:function(data){
			 			if (data.code == 1) {
			 				mui.alert(data.msg,'','',function(){
								mui.openWindow({
									url: data.url,
									id: 'security',
									show: {
										aniShow: 'pop-in'
									}
								});
							});
			 			} else {
				 			mui.alert(data.msg);
				 		}
			 		}
			 	});
			});
			//确认资金密码
			document.getElementById('submit').addEventListener('tap',function(){
				var old_pay_password = document.getElementById('old_pay_password').value;
				var pay_password = document.getElementById('pay_password').value;
				var re_pay_password = document.getElementById('re_pay_password').value;
				// if (old_pay_password.trim() == '') {
				// 	mui.alert("原资金密码不能为空");
				// 	return false;
				// }
				if (pay_password.trim() == '') {
					mui.alert("新资金密码不能为空");
					return false;
				}
				if (re_pay_password.trim() == '') {
					mui.alert("确认密码不能为空");
					return false;
				}
				mui.ajax("{:U('Settings/security')}",{
			 		data:{
			 			old_pay_password:old_pay_password,
			 			pay_password:pay_password,
			 			re_pay_password:re_pay_password,
			 			type:'editPayPassword'
			 		},
			 		dataType:'json',
			 		type:'post',
			 		timeout:10000, 
			 		success:function(data){
			 			if (data.code == 1) {
			 				mui.alert(data.msg,'','',function(){
								mui.openWindow({
									url: data.url,
									id: 'security',
									show: {
										aniShow: 'pop-in'
									}
								});
							});
			 			} else {
				 			mui.alert(data.msg);
				 		}
			 		}
			 	});	
			});
		</script>
	</body>

</html>