<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>澳彩</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->
		<link rel="stylesheet" href="__PUBLIC__/Ag/css/mui.min.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Ag/css/app.css"/>
		<style>
			.mui-table-view-cell span{
				color: #FF5722;
			}
		</style>
	</head>

	<body>

		<header class="mui-bar mui-bar-nav">
		    <!--a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a-->
		    <!--a id="menu" class="mui-action-menu mui-icon mui-icon-bars mui-pull-right" href="#topPopover"></a-->
			<h1 class="mui-title">欢迎光临澳彩管理平台</h1>
		</header>
		<div class="mui-content" style="background-color: #fff;">
			<marquee>{$content}</marquee>
			<ul class="mui-table-view mui-grid-view mui-grid-9">
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="{:U('Agent/agentList')}">
		                    <span class="mui-icon mui-icon-contact"></span>
		                    <div class="mui-media-body">直属代理</div></a></li>
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="{:U('User/userList')}">
		                    <span class="mui-icon mui-icon-qq"></span>
		                    <div class="mui-media-body">直属玩家</div></a></li>
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="{:U('Bet/nowBetDetail')}">
		                    <span class="mui-icon mui-icon-bars"><span class="mui-badge">5</span></span>
		                    <div class="mui-media-body">实时下注</div></a></li>
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="{:U('Lottery/index')}">
		                    <span class="mui-icon mui-icon-eye"></span>
		                    <div class="mui-media-body">历史开奖</div></a></li>
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="{:U('Report/players')}">
		                    <span class="mui-icon mui-icon-list"></span>
		                    <div class="mui-media-body">报表收益</div></a></li>
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="{:U('Bet/historyBetForm')}">
		                    <span class="mui-icon mui-icon-settings"></span>
		                    <div class="mui-media-body">历史下注</div></a></li>
		            <!-- <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="pp_userChannel.html">
		                    <span class="mui-icon mui-icon-starhalf"></span>
		                    <div class="mui-media-body">数据统计</div></a></li> -->
		           <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="{:U('Message/index')}">
		                    <span class="mui-icon mui-icon-chatboxes"></span>
		                    <div class="mui-media-body">站内消息</div></a></li>
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="{:U('Settings/index')}">
		                    <span class="mui-icon mui-icon-gear"></span>
		                    <div class="mui-media-body">我的设置</div></a></li>        
		        </ul> 
			</div>
	</body>
	<script src="__PUBLIC__/Ag/js/mui.min.js"></script>
	<script>
		mui.init();
	</script>
</html>