<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>推广信息</title>
		<link rel="stylesheet" href="__PUBLIC__/Agent/css/mui.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Agent/css/appfont.css" />
		<link rel="stylesheet" href="__PUBLIC__/Agent/css/apps.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a href="{:U('Index/index')}" class="mui-left mui-btn-nav mui-pull-left"><span class="mui-icon app-icon icon-left-nav"></span> 首页</a>
			<h1 class="mui-title">推广信息</h1>
		</header>
		<div class="main">
			<div class="mui-scroll" style="padding: 5px 5px 5px 5px;">
				<div class="mui-content">
						<ul class="mui-table-view">
							<li class="mui-table-view-cell">
								你的推广二维码
							</li>
							<li class="mui-table-view-cell" style="text-align: center;">
								<a href="{:U('Index/qrcode')}" target="_blank"><img src="{:U('Index/qrcode')}" width="300" height="370" /></a>
							</li>
							<li class="mui-table-view-cell">
								<p>按住二维码图片，选择分享图片即可</p>
							</li>
						</ul>
					<!--加一个div防止最后一条显示不完整-->
					<div style="height: 40px;"></div>	
				</div>				
			</div>
		</div>

	<script type="text/javascript" src="js/mui.min.js" ></script>
	</body>

</html>