<!DOCTYPE html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>广彩平台</title>
		<link rel="stylesheet" href="__PUBLIC__/Agent/css/mui.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Agent/css/appfont.css" />
		<link rel="stylesheet" href="__PUBLIC__/Agent/css/apps.css" />
		<style>
			.mui-table-view .app-icon{
				color: #DD524D;
				font-size: 2.0em;
			}
			
			.mui-grid-view.mui-grid-9 .mui-table-view-cell{
				border-bottom:0px;
				border-right:0px;
			}
			.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body{
				color: #616161;
				font-size: 12px;
			}
			.mui-table-view-cell::after{
				background-color: #D7CCC8;
				height: 1px;
				left: 0px;
			}		
			.marquee{
				padding-top: 5px;
				background-color: #EEEEEE;
				color: #ff5252;
				height: 30px;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<h1 class="mui-title">广彩欢迎你</h1>
		</header>
	<div class="home">
		<div class="marquee">
			<marquee><i class="app-icon icon-laba"></i> {$content}</marquee>
		</div>
		<div class="mui-content">
		<div class="mui-scroll" style="padding: 5px 5px 5px 5px;">
			<ul class="mui-table-view mui-grid-view mui-grid-9" style="background-color: #fff;">
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="{:U('Agent/agentList')}">
		                    <span class="app-icon icon-agents"></span>
		                    <div class="mui-media-body">下属代理</div></a></li>
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="{:U('User/userList')}">
		                    <span class="app-icon icon-player"></span>
		                    <div class="mui-media-body">直属玩家</div></a></li>
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="{:U('Bet/nowBetDetail')}">
		                    <span class="app-icon icon-bets"></span>
		                    <div class="mui-media-body">实时注单</div></a></li>
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="{:U('Lottery/index')}">
		                    <span class="app-icon icon-result"></span>
		                    <div class="mui-media-body">历史开奖</div></a></li>
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="{:U('Report/agent')}">
		                    <span class="app-icon icon-shouyi"></span>
		                    <div class="mui-media-body">报表收益</div></a></li>
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="{:U('Bet/historyBetForm')}">
		                    <span class="app-icon icon-lishizhudan"></span>
		                    <div class="mui-media-body">历史注单</div></a></li>
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="{:U('Message/index')}">
		                    <span class="app-icon icon-notice"></span>
		                    <div class="mui-media-body">站内消息</div></a></li>
		           <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="{:U('Index/generalize')}">
		                    <span class="app-icon icon-generalize"></span>
		                    <div class="mui-media-body">推广信息</div></a></li>
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="{:U('Settings/index')}">
		                    <span class="app-icon icon-setting"></span>
		                    <div class="mui-media-body">个人中心</div></a></li>
		    </ul>
		    <ul class="mui-table-view">
			    <li class="mui-table-view-cell">
			        <p>我的财富<span class="mui-pull-right">{$balance}</span></p>	                
			    </li>
		    	<li class="mui-table-view-cell">
			        <p>下属代理:<pan class="mui-pull-right">{$agent_count} 人</span></p>	                
			    </li>
			    <li class="mui-table-view-cell">
			        <p>下属玩家<span class="mui-pull-right">{$user_count} 人</span></p>	                
			    </li>
			    <li class="mui-table-view-cell">
			        <p>今日注额<span class="mui-pull-right">{$bet_balance}</span></p>	                
			    </li>
			    <li class="mui-table-view-cell">
			        <p>今日收益<span class="mui-pull-right">{$profit_balance}</span></p>	                
			    </li>
		    </ul>
		</div>
	</div>
	<script type="text/javascript" src="__PUBLIC__/Agent/js/mui.min.js" ></script>
	<script type="text/javascript">
		
	</script>
	</body>

</html>